---
layout: page
title:
excerpt: "Voyages of a Spacefarer"
search_omit: true
---

Fight Now
<br>
Else There will be
<br>
Nothing Left
<br>
To fight for
<br>
#FridaysForFuture
<br>#SchoolStrikeforClimate
<br>
Be responsible for the light you bring into this world
<br>
Greta : Week 34
<br>
GY : Week 5
<br>
April 12 2019
<br>


<ul class="post-list">
{% for post in site.categories.review limit:1 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
<ul class="post-list">
{% for post in site.categories.TODO limit:2 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>


<!--

<h5>
Mission Mars
</h5>


<ul class="post-list">
{% for post in site.categories.mars limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<h6>
Schedule for April - July 2019
</h6>




<h6>
Lessons from experiences
</h6>



-->
