<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

<br> <br>
  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <p>&copy; 2013 - {{ site.time | date: '%Y' }} Sachin Shetty. {{ site.data.text[site.locale].powered_by | default: "Powered by" }}  <a href="https://slabstech.com/" rel="nofollow">S Labs Solutions</a>.  <a href="https://github.com/sachinsshetty" rel="nofollow"><img height="40" align="left" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Code" /> </a>,<a href="https://www.linkedin.com/in/sachinlabs" rel="nofollow"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" /></a>, <a href="{{ site.url }}/site/privacy">Privacy</a>, <a href="{{ site.url }}/tags" >Sitemap</a>  </p>
    {% endif %}
  </div>
</footer>
